<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Relatórios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content> 
    <ion-list class="listaSenhasRecentes"> 
     <ion-item> Senhas Emitidas: {{senhasService.senhasTotal}}</ion-item>
     <ion-item> Senhas Geral: {{senhasService.senhasGeral}}</ion-item>
     <ion-item> Senhas Prioritárias: {{senhasService.senhasPrior}}</ion-item>
     <ion-item> Senhas Exame: {{senhasService.senhasExame}}</ion-item>
    </ion-list>


    <ion-list>

      <ion-item ngIf="senhasService.segundosSalvosSG.length > 0">
        Média de Atendimento de Serviços Gerais {{ senhasService.calcularMediaSegundosSG() }}
      </ion-item>

      <ion-item ngIf="senhasService.segundosSalvosSP.length > 0">
        Média de Atendimento de Serviços Prioritário {{ senhasService.calcularMediaSegundosSP() }}
      </ion-item>

      <ion-item *ngIf="senhasService.segundosSalvosSE.length > 0">
        Média de Atendimento de Serviços Prioritário {{ senhasService.calcularMediaSegundosSE() }}
      </ion-item>

    </ion-list>

  </ion-card-content>
</ion-content>